.ems-login{
  background: linear-gradient(-135deg,#c850c0,#4158d0);
}

.min-vh-100{
  min-height: 100vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none !important;
-moz-appearance: none !important;
appearance: none !important;
margin: 0;
}

input[type=number] {
-moz-appearance:textfield;
}

.reaction {
top: 12px;
right: 15px;
}
