<p-toast></p-toast>
<div class="container-fluid ems-login">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-4">

            <div class="ems-login-form card p-4 mx-1 my-3">
                <h3 *ngIf="!this.formstatus||this.formstatus == 'No Account Found'" class="text-center">Find Account</h3>
                <h3 *ngIf="this.formstatus == 'OTP sended'||this.formstatus == 'Invalid OTP'" class="text-center">OTP Verification</h3>
                <h3 *ngIf="this.formstatus == 'OTP Verified'" class="text-center">Account Details</h3>

                <!--Email-->
                <div *ngIf="!this.formstatus||this.formstatus == 'No Account Found'" class="card-body">
                    <form class="mb-2" #sendotpe="ngForm" (ngSubmit)="sendotp(sendotpe)" ngNativeValidate>
                        <div class="mb-3 form-group position-relative">
                            <label class="form-label">Registered Email <span class="login-danger">*</span></label>
                            <input type="email" placeholder="Email address" class="form-control py-2 rounded-pill" [(ngModel)]="Email" id="Email" name="Email" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded-pill">Sent OTP</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a class="text-decoration-none" routerLink="/login"><i class="fa-solid fa-arrow-left"></i> Go To Login</a>
                    </div>
                </div>

                <!--OTP Verified-->
                <div *ngIf="this.formstatus == 'OTP sended'||this.formstatus == 'Invalid OTP'" class="card-body">
                    <form class="mb-2" #emsotpform="ngForm" (ngSubmit)="otpverify(emsotpform)" ngNativeValidate>
                        <div class="mb-3 form-group position-relative">
                            <input type="number" class="form-control py-2 rounded-pill" placeholder="Enter OTP" ngModel #OTP="ngModel" id="OTP" name="OTP" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded-pill">Verify OTP</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a class="text-decoration-none" role="button" (click)="resendotp()">Resend OTP</a>
                    </div>
                </div>

                <!--Account Details-->
                <div *ngIf="this.formstatus == 'OTP Verified'" class="card-body">
                    <form class="mb-2" #resetpassform="ngForm" (ngSubmit)="resetpass(resetpassform)" ngNativeValidate>

                        <div class="mb-3 form-group position-relative">
                            <input type="password" class="form-control py-2 rounded-pill" placeholder="Password" #Pass ngModel #Password="ngModel" id="Password" name="Password" required>
                        </div>

                        <div class="mb-3 form-group position-relative">
                            <input type="password" class="form-control py-2 rounded-pill" placeholder="Confirm Password" ngModel #Confirm_Password="ngModel" id="Confirm_Password"  (change)="checkpass(Password,Confirm_Password)" name="Confirm_Password" required>
                            <p *ngIf="password == true" class="position-absolute reaction">
                                <i class="fa-solid fa-check" style="color: #07974d;"></i>
                            </p>
                            <p *ngIf="password == false" class="position-absolute reaction">
                                <i class="fa-solid fa-xmark" style="color: #d70f19;"></i>
                            </p>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded-pill">Reset</button>
                        </div>
                    </form>
                    <div class="text-center d-none">
                        <a class="text-decoration-none" role="button" (click)="resendotp()">Resend OTP</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


